
\.idea/


assets/music/childish-gambino/

assets/music/lauv/

assets/music/logic/

assets/music/mansionair/

assets/music/post-malone/

assets/music/posy-malin/

assets/music/radiohead/

assets/music/tame-impala/

assets/music/timi-impli/
