html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

#background {
	background-color: #000;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

#loginContainer * {
	color: #fff;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight:normal;
	line-height:1em;
}

#loginContainer {
	width:80%;
	margin: 0 auto;
	position:relative;
  max-width:1024;
}

#inputContainer {
	width:400px;
	padding:45px;
	float:left;
	border-right:1px solid #828282ba;
}

#inputContainer h2 {
	text-align: center;
}

#inputContainer button {
	background: transparent;
    border: 2px solid #fff;
    border-radius: 250px;
    color: #fff;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41;
    width: 100%;
}

#inputContainer button:hover {
	cursor: pointer;
	background-color: #fff;
	color: black;
}

#inputContainer label {
	color: #dcdcdc;
  display: block;
  font-size: 13px;
  margin-top: 15px;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
	display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    height: 27px;
    line-height: 27px;
    width: 100%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}

.hasAccount span {
	font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.hasAccount {
	text-align: center;
}

#registerForm,
#loginForm {
	//display: none;
}

hr {
  margin-top: 25px;
}

#loginText {
  padding: 60px;
  display: table-cell;
}

#loginText h1 {
  color: white;
  font-size: 44px;
  font-weight: bold;
  line-height: 48px;
}

#loginText h2 {
  margin: 35px 0;
}

#loginText li {
  font-size: 20px;
  list-style-type: none;
  padding: 10px;
}

#inputContainer .errorMessage {
    color: white;
    font-size: 12px;
    display: block;
    font-weight: 850;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}