html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: rgb(6, 3, 50);
    //background: linear-gradient(325deg, rgba(6,3,50,1) 0%, rgba(11,84,97,1) 100%);
    font-size: 14px;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 720px;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

#nowPlayingBarContainer {
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft {
    width: 30%;
    min-width: 180px;
}

#nowPlayingRight {
    width: 30%;
    min-width: 180px;
    position: relative;
    margin-top: 16px;
}

#nowPlayingCenter {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content {
    width: 100%;
    height: 57px;
}

.playerControls .buttons {
    margin: 0 auto;
    display: table;
}

.controlButton {
    background-color: transparent;
    border: none;
    vertical-align: middle;

    img {
        width: 20px;
        height: 20px;
    }

    &.play img,
    &.pause img {
        width: 32px;
        height: 32px;
    }

    &:hover {
        cursor: pointer;
    }
}

.progressTime {
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.playbackBar {
    display: flex;
}

.progressBar {
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.progressBarBg {
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress {
    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

.playbackBar .progressBar {
    margin-top: 3px;
}

#nowPlayingLeft {
    .albumArtwork {
        height: 100%;
        max-width: 57px;
        margin-right: 15px;
        float: left;
        background-size: cover;
    }

    .trackInfo {
        display: table;

        .trackName {
            margin: 6px 0;
            display: inline-block;
            width: 100%;
        }

        .artistName span {
            font-size: 12px;
            color: #a0a0a0;
        }
    }
}

.volumeBar {
    width: 180px;
    position: absolute;
    right: 0;

    .progressBar {
        width: 125px;
    }
}

#topContainer {
    min-height: 100%;
    width: 100%;
}

#navBarContainer {
    background-color: #000;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navBar {
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.logo {
    margin-bottom: 15px;

    img {
        width: 32px;
    }
}

.navBar .group {
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}

.navItem {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.admin {
    display: none;
}

.navItemLink {
    color: #a0a0a0;
    text-decoration: none;

    &:hover {
        color: white;
    }

    .icon {
        position: absolute;
        right: 0;
        top: 6px;
        width: 25px;
    }
}

#mainViewContainer {
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(99% - 210px);
}

#mainContent {
    padding: 0 20px;
}

.pageHeadingBig {
    padding: 20px;
    text-align: center;
}

.gridViewContainer {

    h2 {
        text-align: center;
    }

    .gridViewItem {
        display: inline-block;
        margin-right: 18px;
        width: 29%;
        max-width: 200px;
        min-width: 150px;
        margin-bottom: 20px;

        a {
            text-decoration: none;
        }

        img {
            width: 100%;
        }

        .gridViewInfo {
            font-weight: 300;
            text-align: center;
            padding: 5px 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .adminView {
        margin: 0 auto 0 auto;
        display: block;
        text-align: center;
        background-color: #000;
        border-radius: 25px;
        padding-bottom: 15px;
        box-shadow: 0 0 25px #181818;
    }

}

.entityInfo {
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
    text-shadow: 0 0 12px black;

    .leftSection {
        width: 30%;
        float: left;
        max-width: 250px;

        img {
            width: 100%;
        }

        .playlistImage {
            border: 3px solid #282828;
            border-radius: 18px;
            padding: 10px;
            margin-bottom: 5px;
        }
    }

    .rightSection {
        width: 70%;
        float: left;
        padding: 5px 10px 5px 40px;
        box-sizing: border-box;

        h2 {
            margin-top: 0px;
        }

        p {
            color: #939393;
            font-weight: 200;
        }
    }


    .userInfo {
        h1 {
            text-align: center;
        }
    }

    .buttonItems {
        .button {
            display: block;
            margin: 0 auto 20px auto;
        }
    }
}

.tracklistContainer {
    padding: 8px;
    border-radius: 8px;
    background: #181818;
    margin-bottom: 12px;

    h2 {
        text-align: center;
    }

    .tracklist {
        padding: 0;

        .tracklistRow {
            height: 40px;
            padding: 15px 10px;
            list-style: none;

            span {
                color: #939393;
                font-weight: 200;
            }

            &:hover {
                background-color: #282828;
            }

            .trackCount {
                width: 8%;
                float: left;

                img {
                    width: 20px;
                    visibility: hidden;
                    position: absolute;
                    cursor: pointer;
                }
            }

            &:hover .trackCount img,
            .trackCount span {
                visibility: visible;
            }

            &:hover .trackCount span {
                visibility: hidden;
            }

            .trackInfo {
                width: 75%;
                float: left;

                span {
                    display: block;
                }

                .trackName {
                    color: #fff;
                    margin-bottom: 7px;
                }
            }

            .trackOptions {
                width: 5%;
                float: left;
                text-align: right;

                img {
                    width: 15px;
                    visibility: hidden;
                }
            }

            &:hover .trackOptions img {
                visibility: visible;
            }

            .trackDuration {
                width: 12%;
                float: left;
                text-align: right;
            }

            h2 {
                text-align: center;
            }
        }

    }
}

.artistInfo {
    margin-top: 160px;
    text-align: center;
}

.button {
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    background: transparent;
    font-weight: 500;
    letter-spacing: 2px;
    border: 2px solid #fff;
    border-radius: 500px;
    padding: 15px;
    min-width: 130px;

    &.green {
        background-color: #2ebd59;
        border-color: #2ebd59;
    }

    &:hover {
        background-color: #fff;
        color: #181818;
    }
}

.borderBottom {
    border-bottom: 1px solid #4a5262;
    margin-bottom: 20px;
}

.borderTop {
    border-top: 1px solid #a0a0a0;
    margin-top: 20px;
}

[role="link"] {
    cursor: pointer;
}

.searchContainer {
    background-color: #242424;
    padding: 20px 28px;

    h4 {
        margin: 0;
        font-weight: 300;
    }

    .searchInput {
        width: 100%;
        background-color: transparent;
        border: none;
        color: #fff;
        font-weight: 700;
        font-size: 62px;
        letter-spacing: 2px;
    }
}

.artistsContainer {
    h2 {
        text-align: center;
    }
}

.searchResultRow {
    padding: 15px 10px;

    &:hover {
        background-color: #282828;
    }

    .artistName {
        font-weight: bold;
        font-size: 32px;
        color: #fff;
    }
}

.noResults {
    margin: 15px;
    display: block;
}

input:focus {
    outline: none;
}

.showError {
    font-size: 12px;
    font-style: italic;
}

.playlistsContainer {
    padding: 10px 0;

    .buttonItems {
        .button {
            display: block;
            margin: 0 auto 20px auto;
        }
    }

    .gridViewItem {
        .playlistImage {
            border: 3px solid #282828;
            border-radius: 18px;
            padding: 10px;
            margin-bottom: 5px;
        }
    }
}

.optionsMenu {
    position: fixed;
    background-color: #282828;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 25px black;
    border-radius: 3px;
    z-index: 1000;
    display: none;

    .item {
        width: 100%;
        padding: 12px 20px;
        box-sizing: border-box;
        font-weight: 400;
        color: rgba(147, 147, 147, 0.8);
        height: 40px;
        background-color: #282828;
        font-size: 14px;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: #333;
            border-color: #333;
        }
    }

    .playlist {
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}

.userDetails {
    padding: 20px;

    .container {
        h2 {
            text-align: center;
        }

        input[type="text"],
        input[type="password"],
        .button {
            display: block;
            margin: 16px auto;
        }

        input[type="text"],
        input[type="password"] {
            height: 50px;
            width: 100%;
            background: #1f1f1f;
            border: none;
            font-size: 18px;
            font-weight: 300;
            padding: 0 20px;
        }

        span {
            color: #2ebd59;
            font-weight: 300;
        }
    }
}

.tableContainer {
    padding: 12px;
    background-color: #181818;
    border-radius: 25px;
    box-shadow: 0px 0px 12px #181818;
    margin-top: 24px;
    margin-bottom: 24px;
    overflow-x: auto; //for scrollable table
    overflow-y: auto;
    min-height: 100px;
    max-height: 420px;

    .tableHeading {
        border: 2px solid black;
        background: #000;
        border-bottom: none;
        border-top: none;
        font-size: 14px;
        position: sticky;
        top: 0;
        box-shadow: 0 0 12px black;
    }

    .tableRows {
        font-size: 12px;
        border: 2px solid #282828;
        border-bottom: none;
        border-top: none;
    }

    .button-admin {
        padding: 8px;
        font-size: 12px;
    }
}

.editContainer {
    text-align: center;

    label {
        font-weight: 900;
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
    }

    input,
    select,
    button {
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 25px;
        padding: 12px;
        color: #fff;
        width: 25%;
    }

    select,
    button {
        &:hover {
            color: black;
            background-color: #fff;
        }
    }

    button {
        width: 35%;
        margin-bottom: 25px;
    }

    hr {
        width: 75%;
        border: 0;
        height: 3px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        //border-bottom: 1px solid #1f1f1f;
        margin-bottom: 25px;
    }
}

.artistHeader {
    background: linear-gradient(transparent, rgb(6, 3, 50) 65%), url("../images/icons/artist.png") no-repeat center;
    height: 290px; 
    background-size: cover;
    box-shadow: 0 -30px 25px black;
    border: none;
}

iframe {
    width: 100%;
    height: 100%;
}

.errorsAdmin {
    text-align: center;
    font-weight: 800;
}